h1{font-family: Raleway;
	color:#e01478;
	font-size: 40px;
	margin-bottom: 5px;

	}

h2{font-family: Raleway;
	color:#828181;
	font-size: 20px;
	font-weight: 500;
	margin-top:5px;
	margin-bottom: 0px;
	}	

h3{font-family: Raleway;
	color:#828181;
	font-size:16px;
	font-weight: 500;
	margin-top:5px;
	}	

h4{font-family: Raleway;
	color:#383838;
	font-size:20px;
	margin-bottom: 0px;
}/* Ingredients */

h5{font-family: Raleway;
	color:#383838;
	font-size:18px;
	margin-bottom: 0px;
	position:static;
	float:left;

}/* Nutrition Information*/

h6{font-family: Avenir;
	color:#383838;
	font-weight: 300;
	font-size: 18px;
	margin-top:10px;
	position:static;
	float: left;
	}	/* Probably bad . . . */

ul{ font-family: Avenir;
	color:#383838;
	list-style: none;
	padding-left:0px;
	columns: 2;
	margin-top:10px;

}

p{	font-family: Avenir;
	color:#383838;
	font-size:20px;
	position:relative;
	float:left;
	
}

footer{font-family: Avenir;
		color:#383838;
		font-size: 14px;
		position: relative;
		float:left;
		margin-left:5%;
	}

footer a {text-decoration: none;
			color:#2cbc65;
			font-weight:500;

			}

#recipe{ max-width:720px;
	margin-left:5%;

}

#header{ margin-left:5%;

}
